<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>InputServlet</servlet-name>
        <servlet-class>com.system.web.InputServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCurriculumServlet</servlet-name>
        <servlet-class>com.system.web.AddCurriculumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignRoomServlet</servlet-name>
        <servlet-class>com.system.web.AssignRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveCurriculum</servlet-name>
        <servlet-class>com.system.web.RetrieveCurriculum</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InputServlet</servlet-name>
        <url-pattern>/InputServletArkiUST</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCurriculumServlet</servlet-name>
        <url-pattern>/AddCurriculumServletArki</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignRoomServlet</servlet-name>
        <url-pattern>/AssignRoomServletArki</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveCurriculum</servlet-name>
        <url-pattern>/RetrieveCurriculumUSTArki</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
